body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
    margin-bottom: 30px;
    padding-right: 5%;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.image {
    margin-top: 25px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    /* color: whitesmoke; */
}

.top-banner {
    background-image: url(assets/images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(assets/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.projects-section {
    background-image: url(assets/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.project-header {
    margin: 10px 3%;
}

.project-title {
    color: tomato;
    text-align: center;
}

.bullet-point {
    padding: 10px;
    text-align: justify;
}

.one-third {
    width: 30%;
    margin: 2% 3%;
    padding: 1%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
}

#first-project {
    border-left: 7px solid tomato;
}

#second-project {
    border-left: 7px solid blue;
}

#third-project {
    border-left: 7px solid orange;
}